#div{
  width: 85vw;
  height: 72vh;
  padding: 100px 100px;
}
#main{
  margin:auto;
  text-align: center;
  padding: 100px;
}
#pass{
  width: 300px;
  height: 20px;
  padding: 8px 5px;
  font-size: 1.2rem;
  text-align: center;
  margin-block: 30px;
  
}
#length{
  width: 150px;
  cursor: pointer;
}
#check{
  cursor: pointer;
}
#po{
  font-size: 1.2rem;
  font-weight: 600;
  margin-inline: 10px;
}
button{
  margin-block:40px;
  width: 250px;
  height: 40px;
  font-size: 1.2rem;
  background: transparent;
  outline: none;
  cursor: pointer;
}